# MONGO_URI=mongodb+srv://AAMIR_YUNAX:<aamirkp786@>@cluster0.qbhjncz.mongodb.net/?appName=Cluster0
# DB_NAME=yunax
# JWT_SECRET=aamir_secret_786
# RAZORPAY_KEY_ID=rzp_test_xxxxx
# RAZORPAY_KEY_SECRET=replace_key_secret
# CLIENT_ORIGIN=http://localhost:5173
# PORT=4000
